$font:'Nanum Gothic',sans-serif;
@mixin flexCenter(){
  display: flex;
  justify-content: center;
  align-items: center;
  @content
};
@mixin shadowBox{
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
$mainColor : #4b91ed;
